<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="mobile-web-app-capable" content="yes" />
      <link rel="icon" href="http://getbootstrap.com/favicon.ico" />
      <title>Todo List</title>
      <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
      <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" media="screen"/>
      <link href="../static/css/ie10-viewport-bug-workaround.css" th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet" media="screen"/>
      <link href="../static/css/jumbotron-narrow.css" th:href="@{/css/jumbotron-narrow.css}" rel="stylesheet" media="screen"/>
      <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="../static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
      <script src="../static/js/jquery.sortElements.js" th:href="@{/js/jquery.sortElements.js}"></script>
      <script src="../static/js/jspdf.min.js" th:href="@{/js/jspdf.min.js}"></script>
      <script src="../static/js/app.js" th:href="@{/js/app.js}"></script>
   </head>
   <body>
      <div class="container">
         <div class="row">
            <center>
               <h1><span>Agenda</span> de Tarefas</h1>
            </center>
         </div>
         <div class="page-header">
            <!-- LINHA -->
         </div>
         <div class="panel panel-default">
            <div class="panel-heading">
               <span th:text="Editar"/> <strong>Editar Contato</strong>
            </div>
            <div class="panel-body">
               <form class="form-horizontal" enctype="multipart/form-data">
                  <fieldset>
                     <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Usuario:</label>
                        <div class="col-sm-10">
                           <input th:value="David Souza" name="userName" class="form-control" type="text" />
                           <input type="hidden" name="userId" th:value="1" />
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-10">
                           <input th:value="david.souza@ccc.ufcg.edu.br" name="userEmail" class="form-control" type="text" />
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Pagina:</label>
                        <div class="col-sm-10">
                           <input th:value="https://github.com/DavidMedeiros/" name="userPage" class="form-control" type="text" />
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-sm-12">
                           <input type="submit" class="btn btn-primary btn-add-new-task" value="OK" />
                        </div>
                     </div>
                  </fieldset>
               </form>
            </div>
         </div>
      </div>
      <div class="dropup">
         <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Menu de Configuracoes <span class="caret"></span></button>
            <ul class="dropdown-menu">
               <li><a href="javascript:changeBackGroundColour();"><i class="fa fa-eyedropper"></i> Alterar cor do background</a></li>
               <li><a href="javascript:changeSizeFont('plus');"><i class="fa fa-plus"></i> Aumentar Fonte</a></li>
               <li><a href="javascript:changeSizeFont('minus');"><i class="fa fa-minus"></i> Diminuir Fonte</a></li>
               <li><a href="javascript:restoreSettings();"><i class="fa fa-chevron-left"></i> Restaurar configura&ccedil;&otilde;es</a></li>
               <li class="divider"></li>
               <li><a href="#" th:href="@{/edituser/1}"><i class="fa fa-user"></i> Usuario</a></li>
            </ul>
         </div>
      </div>
   </body>
</html>
